#login-page {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
#login-form {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #a67a5b;
    border-radius: 5px;
}
#login-form h2 {
    color: #a67a5b;
    margin-bottom: 20px;
}
#login-form label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}
#login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #a67a5b;
    border-radius: 5px;
    font-size: 1rem;
}
#login-form button {
    background-color: #a67a5b;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}
#login-form button:hover {
    background-color: #7d7461;
}
#signup-link {
    margin-top: 15px;
}
#signup-link a {
    color: #a67a5b;
    text-decoration: none;
    font-weight: 700;
}
#signup-link a:hover {
    color: #7d7461;
}
